In [3]:
from data_processing import price_inc_30

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [2]:
df = pd.read_csv("csv_files\df.csv")
df2 = pd.read_csv("csv_files\df2.csv")

In [3]:
df2

   Date of price increase  Subgroup ID
0              2021-03-15           56
1              2021-03-15           53
2              2021-03-15           52
3              2021-03-15           51
4              2021-03-15           61
5              2021-03-15           73
6              2021-03-15           71
7              2021-03-15           72
8              2021-03-15           70
9              2021-03-15           60
10             2020-11-02           73
11             2020-11-02           71
12             2020-11-02           72
13             2020-11-02           70
14             2020-11-02           56
15             2020-11-02           53
16             2020-11-02           52
17             2020-11-02           51
18             2020-09-01           60
19             2020-09-01           61
20             2020-02-01           56
21             2020-02-01           53
22             2020-02-01           52
23             2020-02-01           51
24             2020-02-01           61
25             2020-02-01           73
26             2020-02-01           71
27             2020-02-01           72
28             2020-02-01           70
29             2020-02-01           60

In [4]:
df

,Order date,Custumer Id,Item Id,Country,State,City,Subgruop_ID,Quantity
0,2019-10-01,62,30510001,1,12,43,51,50.0
1,2019-10-01,62,30510004,1,12,43,51,6.0
2,2019-10-01,62,30510007,1,12,43,51,3.0
3,2019-10-01,62,30510026,1,12,43,51,10.0
4,2019-10-01,62,30520004,1,12,43,52,50.0
...,...,...,...,...,...,...,...,...
250925,2021-09-29,914,30700205,1,26,42,70,3.0
250926,2021-09-29,914,30710001,1,26,42,71,5.0
250927,2021-09-29,914,30710003,1,26,42,71,5.0
250928,2021-09-29,914,30710005,1,26,42,71,5.0
250929,2021-09-29,914,30710006,1,26,42,71,5.0

In [5]:
df.groupby('Custumer Id').get_group(750)

,Order date,Custumer Id,Item Id,Country,State,City,Subgruop_ID,Quantity
8567,2019-10-25,750,30510003,1,16,52,51,5.0
8568,2019-10-25,750,30510017,1,16,52,51,30.0
8569,2019-10-25,750,30510026,1,16,52,51,10.0
8570,2019-10-25,750,30510076,1,16,52,51,5.0
8571,2019-10-25,750,30520004,1,16,52,52,30.0
...,...,...,...,...,...,...,...,...
242219,2021-09-03,750,30700199,1,16,52,70,2.0
242220,2021-09-03,750,30700204,1,16,52,70,1.0
242221,2021-09-03,750,30700205,1,16,52,70,6.0
242222,2021-09-03,750,30700228,1,16,52,70,1.0
242223,2021-09-03,750,30710005,1,16,52,71,4.0

In [6]:
df.groupby('Custumer Id').get_group(750).groupby('Item Id').count()

          Order date  Custumer Id  Country  State  City  Subgruop_ID  Quantity
Item Id
30510001           4            4        4      4     4            4         4
30510003           2            2        2      2     2            2         2
30510004           6            6        6      6     6            6         6
30510005           4            4        4      4     4            4         4
30510007           7            7        7      7     7            7         7
...              ...          ...      ...    ...   ...          ...       ...
30710001           2            2        2      2     2            2         2
30710002           1            1        1      1     1            1         1
30710003           1            1        1      1     1            1         1
30710005           4            4        4      4     4            4         4
30710006           1            1        1      1     1            1         1

[244 rows x 7 columns]

In [7]:
df.groupby('Custumer Id').get_group(750).groupby('Order date').get_group('2019-10-25')

,Order date,Custumer Id,Item Id,Country,State,City,Subgruop_ID,Quantity
8567,2019-10-25,750,30510003,1,16,52,51,5.0
8568,2019-10-25,750,30510017,1,16,52,51,30.0
8569,2019-10-25,750,30510026,1,16,52,51,10.0
8570,2019-10-25,750,30510076,1,16,52,51,5.0
8571,2019-10-25,750,30520004,1,16,52,52,30.0
8572,2019-10-25,750,30520014,1,16,52,52,50.0
8573,2019-10-25,750,30520021,1,16,52,52,50.0
8574,2019-10-25,750,30530023,1,16,52,53,10.0
8575,2019-10-25,750,30600014,1,16,52,60,10.0
8576,2019-10-25,750,30600035,1,16,52,60,40.0
8577,2019-10-25,750,30600042,1,16,52,60,80.0
8578,2019-10-25,750,30600044,1,16,52,60,10.0
8579,2019-10-25,750,30600045,1,16,52,60,50.0
8580,2019-10-25,750,30600048,1,16,52,60,40.0
8581,2019-10-25,750,30600051,1,16,52,60,10.0
8582,2019-10-25,750,30600057,1,16,52,60,10.0
8583,2019-10-25,750,30600091,1,16,52,60,30.0
8584,2019-10-25,750,30600153,1,16,52,60,10.0
8585,2019-10-25,750,30600154,1,16,52,60,40.0
8586,2019-10-25,750,30600185,1,16,52,60,10.0
8587,2019-10-25,750,30610007,1,16,52,61,4.0
8588,2019-10-25,750,30610048,1,16,52,61,6.0
8589,2019-10-25,750,30610049,1,16,52,61,10.0
8590,2019-10-25,750,30610062,1,16,52,61,6.0
8591,2019-10-25,750,30610153,1,16,52,61,10.0
8592,2019-10-25,750,30700004,1,16,52,70,50.0
8593,2019-10-25,750,30700008,1,16,52,70,15.0
8594,2019-10-25,750,30700010,1,16,52,70,60.0
8595,2019-10-25,750,30700013,1,16,52,70,2.0
8596,2019-10-25,750,30700018,1,16,52,70,2.0
8597,2019-10-25,750,30700019,1,16,52,70,80.0
8598,2019-10-25,750,30700020,1,16,52,70,100.0
8599,2019-10-25,750,30700021,1,16,52,70,4.0
8600,2019-10-25,750,30700022,1,16,52,70,20.0
8601,2019-10-25,750,30700030,1,16,52,70,10.0
8602,2019-10-25,750,30700037,1,16,52,70,2.0
8603,2019-10-25,750,30700041,1,16,52,70,2.0
8604,2019-10-25,750,30700043,1,16,52,70,8.0
8605,2019-10-25,750,30700051,1,16,52,70,2.0
8606,2019-10-25,750,30700054,1,16,52,70,20.0
8607,2019-10-25,750,30700061,1,16,52,70,1.0
8608,2019-10-25,750,30700062,1,16,52,70,2.0
8609,2019-10-25,750,30700082,1,16,52,70,8.0
8610,2019-10-25,750,30700093,1,16,52,70,20.0
8611,2019-10-25,750,30700095,1,16,52,70,4.0
8612,2019-10-25,750,30700124,1,16,52,70,1.0
8613,2019-10-25,750,30700147,1,16,52,70,1.0
8614,2019-10-25,750,30700205,1,16,52,70,2.0
8615,2019-10-25,750,30710001,1,16,52,71,8.0

In [8]:
df.groupby('Custumer Id').get_group(750).Subgruop_ID.unique()

array([51, 52, 53, 60, 61, 70, 71], dtype=int64)